// Color Variables
$color-primary: #1682B6;
$color-success: #16B65C;
$color-warning: #ECD613;
$color-danger: #E5501A;
$color-white: #FFFFFF;
$color-offwhite: #F7F7F7;
$color-text-default: #333333;

// Drop Shadow
$drop-shadow-default : 0px 0px 40px -1px rgba(38, 38, 38, 0.15);
